---
layout: page
title: Projects 
header: Projects
group: navigation
---
{% include JB/setup %}

<!-- <h2>All Pages</h2>
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul> -->
<div class="rounded-corners clip_frame grpelem" id="u217"><!-- image -->

   <div class="clearfix grpelem" id="u322-4"><!-- content -->
    <p>Some of my projects:</p>
   </div>
   <a class="nonblock nontext clip_frame grpelem" id="u323" href="www.peereditr.com"><!-- image --><img class="block" id="u323_img" src="images/peereditr-logo.png" alt="" width="89" height="102"/></a>
   <div class="pointer_cursor clearfix grpelem" id="u354-5"><!-- content -->
    <a class="block" href="www.peereditr.com"></a>
    <p><a class="nonblock" href="PeerEditr">PeerEditr</a></p>
   </div>
   <div class="clearfix grpelem" id="u357-11"><!-- content -->
    <p></p>

    <a class="nonblock nontext clip_frame grpelem" id="u323" href="www.peereditr.com"><!-- image --><img class="block" id="u323_img" src="images/tsh-logo.png" alt="" width="89" height="102"/></a>
   <div class="pointer_cursor clearfix grpelem" id="u354-5"><!-- content -->
    <a class="block" href="www.peereditr.com"></a>
    <p><a class="nonblock" href="TextShell">TextShell</a></p>
   </div>
   <div class="clearfix grpelem" id="u357-11"><!-- content -->
    <p></p>

    <a class="nonblock nontext clip_frame grpelem" id="u323" href="www.peereditr.com"><!-- image --><img class="block" id="u323_img" src="images/satwars-logo.png" alt="" width="89" height="102"/></a>
   <div class="pointer_cursor clearfix grpelem" id="u354-5"><!-- content -->
    <a class="block" href="www.peereditr.com"></a>
    <p><a class="nonblock" href="SAT Wars">SAT Wars</a></p>
   </div>
   <div class="clearfix grpelem" id="u357-11"><!-- content -->
    <p></p>

    <a class="nonblock nontext clip_frame grpelem" id="u323" href="www.peereditr.com"><!-- image --><img class="block" id="u323_img" src="images/eduable-logo.png" alt="" width="89" height="102"/></a>
   <div class="pointer_cursor clearfix grpelem" id="u354-5"><!-- content -->
    <a class="block" href="www.peereditr.com"></a>
    <p><a class="nonblock" href="Eduable">Eduable</a></p>
   </div>
   <div class="clearfix grpelem" id="u357-11"><!-- content -->
    <p></p>

    <a class="nonblock nontext clip_frame grpelem" id="u323" href="www.peereditr.com"><!-- image --><img class="block" id="u323_img" src="images/baggagetrack.jpg" alt="" width="89" height="102"/></a>
   <div class="pointer_cursor clearfix grpelem" id="u354-5"><!-- content -->
    <a class="block" href="www.peereditr.com"></a>
    <p><a class="nonblock" href="BaggageTrack">BaggageTrack</a></p>
   </div>
   <div class="clearfix grpelem" id="u357-11"><!-- content -->
    <p></p>


 
   </div>
</div>

